
	                    <!-- page content -->
	                    <section id="page-sidebar" class="alignleft span8">
	                   		 <div class="row">
	                            <div class="span8">
	                            	<!-- 面包导航 -->
									<ul class="breadcrumb anno-de-breadnav-bg">
										<li>
											<a href="announcement.jsp">公告信息</a> <span class="divider">/</span>
										</li>
										<li class="active">广东高考预计月底放榜 广州昨日2000余人缺考</li>								
									</ul>
	                             </div>
	                            
	                            <article class="blog-post span8">
	                                <div class="anno-de-shadow">
	                                	<div class="anno-de-block">
	                                   		<div class="anno-de-title"><h3>广东高考预计月底放榜 广州昨日2000余人缺考</h3></div>
	                                   		<div class="anno-de-text">
	                                   			<p>先试试：羊城晚报讯 记者陈晓璇、通讯员穗考宣报道：6月7日，高考首日，天公作美，天气并不算十分炎热，中午一阵雨也带来了清凉。2014年全国普通高校招生统一考试顺利开考，广州市有6万多名考生在全市60个高考考点参加了上午的语文科和下午数学科的考试。广州市高考首日开局平稳顺畅，考务保障有力，考风考纪优良，未发生安全保密事故、考试环境投诉及考生违纪作弊等问题。</p>
												<p><img src="images/new1-1.jpg" /></p>
												<p>高考第一天，在广州第四中学考点，今年除了家长，考点周边还多了特警到场 羊城晚报记者 陈秋明摄</p>
												<p><img src="images/new1-2.jpg" /></p>
												<p>昨天上午，在广州第四中学，考完语文的学生雀跃出门，周围家长都面露喜悦 羊城晚报记者 陈秋明摄</p>
							
												<p>羊城晚报讯 记者陈晓璇、通讯员穗考宣报道：6月7日，高考首日，天公作美，天气并不算十分炎热，中午一阵雨也带来了清凉。2014年全国普通高校招生统一考试顺利开考，广州市有6万多名考生在全市60个高考考点参加了上午的语文科和下午数学科的考试。广州市高考首日开局平稳顺畅，考务保障有力，考风考纪优良，未发生安全保密事故、考试环境投诉及考生违纪作弊等问题。</p>
							
												<p>高考首日，广州有2000余人缺考！7日下午，广州市招考办通报，开考首日，普高类应考58253人，缺考842人；高职类应考4894人，缺考1321人。缺考的主要原因一是部分考生已被提前录取(含290名普高类考生和663名高职类考生)，二是部分艺术类、体育类考生因单考或统考成绩不理想放弃高考，三是部分考生选择出国读书放弃高考。</p>
							
												<p>据介绍，今年广州市共有66007人参加高考，与去年基本持平。其中理科类30422人，同比增加1639人；文科类21163人，同比减少2389人。全市共启用高考考点60个，其中新增考点1个(广州市铁一中学番禺校区)，安排考场2161间。</p>
							
												<p>今年为了严防考题泄露和手机作弊，据广州市招考办林洽生透露，今年高考安保采取了两个新措施，一是增加试卷运输记录仪，试卷从东莞印刷厂出发运输到各个区的保密室行车路线都有记录，二是在20个考点启用了无线电监控系统，但所有考点的无线电安全都达到国家一级标准。</p>
							
												<p>此外，今年考场也有温情服务。有8名考生携带助听器参加考试，为1名考生特制了放大字体试卷，还为3名夜盲症或身体残疾考生提供了人性化的服务。共启用备用考场25间，其中为60名小语种考生启用13间，为使用大字号试卷考生启用1间，为13名患疾病考生启用11间。为2名残疾考生提供人性化服务，安排至低楼层考场参加考试。</p>
							
												<p>发表时间：2014年6月8号</p>
											</div>
											<div class="anno-de-appendix ">
												<div class="row"><a href="">附件一附件一附件一附件一</a></div>
												<div class="row"><a href="">附件二附件一附件一附件一</a></div>
											</div>
		                                    
		                                </div>
	                                </div>
	                            </article>
	                         </div>
	                    </section>
	                 