	                    <!-- page content -->
	                    <section id="page-sidebar" class="alignleft span8">
	                   		 <div class="row">
	                            <div class="span8">
	                            	<div class="title-divider">
	                                    <h3>公告信息</h3>
	                                    <div class="divider-arrow"></div>
	                                </div>
	                            </div>
	                            <article class="blog-post span8">
	                                <div class="block-grey anno-shadow">
	                                	<div class="anno-block block-light">
		                                	<div id="anno-text">
		                                   		<table class="table table-hover">
		                                    	    <tr>
											           <td><a href="announcement-details.jsp" >全国计算机等级考试要点、考纲、成绩说明、证书领取、考试范围、考试资料</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#/announcement/:1" >凝心聚智 激发活力 建设中国一流民办大学 ——我院2014年工作研讨会举行 </a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >思政通识教育部思政改革动向报告顺利举行</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >新的公告公告新的公告公告新的公告公告新的公告公告</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >梦启航、路漫漫、情相牵——我院2014届毕业生离校工作圆满完成</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >新的公告公告新的公告公告新的公告公告新的公告公告</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >我院隆重举行2014年学士学位授予仪式</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >新的公告公告新的公告公告新的公告公告新的公告公告</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >新的公告公告新的公告公告新的公告公告新的公告公告</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >新的公告公告新的公告公告新的公告公告新的公告公告</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >毕业至 离歌响—2014年毕业晚会之“思忆南方”完美谢幕</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >理想、愿景与奋斗目标相统一的中国梦——中山大学詹小美教授举办群众路线专题讲座</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >新的公告公告新的公告公告新的公告公告新的公告公告</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >理想、愿景与奋斗目标相统一的中国梦——中山大学詹小美教授举办群众路线专题讲座</a></td>
											           <td><span name="anno-time">[2014-08-01]</span></td>
											        </tr>
			                                    </table>
			                                    <div class="anno-page">
													<div class="container-fluid">
														<div class="row-fluid">
															<div class="span12">
																<ul class="pager">
																  <li><a href="#">上一页</a></li>
																  <li><a href="#">下一页</a></li>
																</ul>	
															</div>
														</div>
													</div>
												</div>
											</div>
											
		                                 </div>
	                                </div>
	                            </article>
	                         </div>
	                    </section>
	                 