
	                    <!-- page content -->
	                    <section id="page-sidebar" class="alignleft span8">
	                   		 <div class="row">
	                            <div class="span8">
	                            	<div class="title-divider">
	                                    <span class="download-type-btn">考试资料下载</span>
	                                    <span class="download-type-btn">相关软件下载</span>
	                                </div>
	                            </div>
	                            <article class="blog-post span8">
	                                <div class="block-grey download-shadow">
	                                	<div class="download-block block-light">
		                                	<div id="download-text">
		                                		<table class="table table-hover">
		                                    	    <tr>
											           <td><a href="" >全国计算机等级考试二级试题.zip全国计算机等级考试二级试题.zip全国计算机等级考试二级试题.zip</a></td>
											           <td><span >[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试听力资料.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试2014年模拟试题.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >2013年全国计算机等级考试二级试题.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试二级试题PPT讲解.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="" >全国计算机等级考试二级试题.zip</a></td>
											           <td><span >[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试听力资料.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试2014年模拟试题.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >2013年全国计算机等级考试二级试题.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试二级试题PPT讲解.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="" >全国计算机等级考试二级试题.zip全国计算机等级考试二级试题.zip</a></td>
											           <td><span >[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试听力资料.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >全国计算机等级考试2014年模拟试题.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
											        <tr>
											           <td><a href="#" >2013年全国计算机等级考试二级试题.zip</a></td>
											           <td><span>[2014-08-01]</span></td>
											        </tr>
			                                    </table>
		                                		<div class="download-page">
													<div class="container-fluid">
														<div class="row-fluid">
															<div class="span12">
																<ul class="pager">
																  <li><a href="#">上一页</a></li>
																  <li><a href="#">下一页</a></li>
																</ul>	
															</div>
														</div>
													</div>
												</div>
											</div> 
											
		                                 </div>
	                                </div>
	                            </article>
	                         </div>
	                    </section>
	                    
	                  