<section id="page-sidebar" class="alignleft span8">
	<div class="row">
		<div class="span8">
			<div class="title-divider">
				<h3>
					概况介绍
				</h3>
				<div class="divider-arrow"></div>
			</div>
		</div>
		<article class="blog-post span8">
		<div class="block-grey">
			<div class="block-light">
				<img src="images/ncre.jpg" alt="photo" />
				<div class="wrapper">
					<p>
						全国计算机等级考试（
						<strong>National Computer Rank Examination</strong>，简称
						<strong>NCRE</strong>），是经原国家教育委员会（现教育部）批准，由教育部考试中心主办，面向社会，用于考查应试人员计算机应用知识与技能的全国性计算机水平考试体系。NCRE考试采用全国统一命题，统一考试的形式。从2014年开始每年开考次数由两次增为三次。为3月29日至4月1日、9月20日至23日和12月12日至12月15日，考试持续4天。其中3月和9月开考所有等级所有科目，12月份为首次试点考试，只开考一级和二级，各省级承办机构可根据实际情况决定是否开考，并确定试点考点。具体考试周期及试点情况由省级承办机构确定。
					</p>
					<p>
						自1994年开考以来，NCRE适应了市场经济发展的需要，考试持续发展，考生人数逐年递增，至2012年底，累计考生人数超过4933万，累计获证人数达1876万。
					</p>
					<p>
						为进一步适应新时期计算机应用技术的发展和人才市场需求的变化，教育部考试中心对NCRE考试体系进行调整，改革考试科目、考核内容和考试形式。从2013年下半年考试开始，将实施2013年版考试大纲，并按新体系开考各个考试级别。
					</p>
					<p>
						全国计算机等级考试实行百分制计分，但以等第分数通知考生成绩。等第分数分为“优秀”、“良好”、“及格”、“不及格”四等。考试成绩在“及格”以上者，由教育部考试中心发合格证书。考试成绩为“优秀”的，合格证书上会注明“成绩优秀”字样。
					</p>
					<p>
						0-59分为“不及格”，60-79分为“及格”，80-89分为“良好”，90-100分为“优秀”。成绩在“及格”以上者，由教育部考试中心颁发合格证书。成绩为“优秀”者，合格证书上会注明“优秀”字样，证书上没有良好，按及格对待。
					</p>
					<p>
						全国计算机等级考试合格证书式样按国际通行证书式样设计，用中、英两种文字书写，证书编号全国统一，证书上印有持有人身份证号码。该证书全国通用，是持有人计算机应用能力的证明。全国计算机等级考试证书可以通过教育部考试中心综合查询网查询真伪。
					</p>
					<p>
						考生年龄、职业、学历不限，不论在职人员、行业人员，均可根据自己学习或使用计算机的实际情况，选考相应的级别和科目。考生每次报考一个科目的考试，考生一次考试只能在一个考点报名。考生可根据自己情况选考不同的等级，但一次只能报考一个等级。考生可以不参加考前培训，直接报名参加考试。
					</p>
					<p>
						全国计算机等级考试的成绩将在考后约45-90天内得到成绩（不同地区公布成绩的时间将有所差异）。考试结束三个月后，考生可登录教育部考试中心综合查询网查询考试成绩。
					</p>
				</div>

			</div>
		</div>
		</article>
	</div>
</section>