
	                    <!-- page content -->
	                    <section id="page-sidebar" class="alignleft span8">
	                   		 <div class="row">
	                            <div class="span8">
	                            	<!-- 面包导航 -->
									<ul class="breadcrumb question-de-breadnav-bg">
										<li>
											<a href="question.jsp">常见问题</a> <span class="divider">/</span>
										</li>
										<li class="active">今年上半年计算机国家二级考试成绩什么时候出来？</li>								
									</ul>
	                             </div>
	                            
	                            <article class="blog-post span8">
	                                <div class="question-de-shadow">
	                                	<div class="question-de-block">
	                                   		<div class="question-de-title"><h3>今年上半年计算机国家二级考试成绩什么时候出来？</h3></div>
	                                   		<div class="question-de-text">
	                                   			<p>得到五月下旬呢，全国计算机等级考试成绩在每次考试结束后3个月内提供成绩和等级证书查询。一般情况下，考生可以在考试结束后2个月左右得到成绩，视地区不一样而有区别。  

													历年查询时间总结：
													考试时间                     成绩发布时间                时隔(天) 
													2009年9月19日至9月23日      2009年11月中旬                 45 
													2009年3月28日至4月1日       2009年6月1日起                 60 
													2008年9月20日至9月24日      2008年10月29日起               50 
													2008年4月12日至4月16日      2008年5月28日起                46
												</p>
											</div>
		                                </div>
	                                </div>
	                            </article>
	                         </div>
	                    </section>
	                  