
	                    <!-- page content -->
	                    <section id="page-sidebar" class="alignleft span8">
	                   		 <div class="row">
	                            <div class="span8">
	                            	<div class="title-divider">
	                                    <h3>常见问题</h3>
	                                    <div class="divider-arrow"></div>
	                                </div>
	                            </div>
	                            <article class="blog-post span8">
	                                <div class="block-grey question-shadow">
	                                	<div class="question-block block-light">
		                                	<div id="anno-text">
		                                		<ul>
		                                			<li><a href="#/question/:1">今年上半年计算机国家二级考试成绩什么时候出来？</a></li>
		                                			<li><a href="">全国计算机等级考试(二级)考什么内容?？</a></li>
		                                			<li><a href="">全国计算机等级考试成绩查询短信怎么查？</a></li>
		                                			<li><a href="">全国计算机等级考试二级考哪个种类好啊？</a></li>
		                                			<li><a href="">全国计算机等级考试一、二级考哪些科目,一级的难度如何?</a></li>
		                                			<li><a href="">2013年3月全国计算机等级考试成绩出来没？</a></li>
		                                			<li><a href="">什么时候考试啊？</a></li>
		                                			<li><a href="">全国计算机等级考试(二级)考什么内容?？</a></li>
		                                			<li><a href="">全国计算机等级考试成绩查询短信怎么查？</a></li>
		                                			<li><a href="">全国计算机等级考试二级考哪个种类好啊？</a></li>
		                                			<li><a href="">全国计算机等级考试一、二级考哪些科目,一级的难度如何?</a></li>
		                                			<li><a href="">2013年3月全国计算机等级考试成绩出来没？</a></li>
		                                			<li><a href="">什么时候考试啊？</a></li>
		                                			<li><a href="">全国计算机等级考试(二级)考什么内容?？</a></li>
		                                		</ul>
		                                   		<div class="question-page">
													<div class="container-fluid">
														<div class="row-fluid">
															<div class="span12">
																<ul class="pager">
																  <li><a href="#">上一页</a></li>
																  <li><a href="#">下一页</a></li>
																</ul>	
															</div>
														</div>
													</div>
												</div>
											</div>
											
		                                 </div>
	                                </div>
	                            </article>
	                         </div>
	                    </section>
	                    
	                