<section id="container">
	    <div class="container">
	        <div class="row">
	            <div class="span12">
	            	<div class="row">
	            	<!-- page content -->
	                    <section id="page-sidebar" class="alignleft span3">
	                        <div class="row">
	                        	<div class="span3">
	                                <div class="title-divider">
	                                    <h3>每日一练科目</h3>
	                                    <div class="divider-arrow"></div>
	                                </div>
                                	<div class="accordion" id="accordion2">
										<div class="accordion-group test-nav-bor">
										   <div class="accordion-heading">
											    <a class="accordion-toggle test-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
											    	  一级<span class="badge pull-right test-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseOne" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="">计算机基础及WPS Office应用</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">计算机基础及MS Office应用</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">计算机基础及Photoshop应用</a>
										        </div>
										    </div>
										</div>
										
										<div class="accordion-group test-nav-bor">
										    <div class="accordion-heading">
											    <a class="accordion-toggle test-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
											      	二级<span class="badge pull-right test-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseTwo" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="">C语言程序设计</a>                       <%-- 9个--%>
										        </div>
										        <div class="accordion-inner">
										          <a href="">VB语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">VFP数据库程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">Java语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">Access语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">C++语言程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">MySQL数据库程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">Web程序设计</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">MS Office高级应用</a>
										        </div>
										    </div>
										</div>
										
										<div class="accordion-group test-nav-bor">
										    <div class="accordion-heading">
											    <a class="accordion-toggle test-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
											    	三级<span class="badge pull-right test-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseThree" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="">网络技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">数据库技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">软件测试技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">信息安全技术</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">嵌入式系统开发技术</a>
										        </div>
										    </div>
										</div>
										
										<div class="accordion-group test-nav-bor">
										    <div class="accordion-heading">
											    <a class="accordion-toggle test-nav-title" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
											      	四级<span class="badge pull-right test-badge-bg">ⅴ</span>
											    </a>
										    </div>
										    <div id="collapseFour" class="accordion-body collapse ">
										        <div class="accordion-inner">
										          <a href="">网络工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">数据库工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">软件测试工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">信息安全工程师</a>
										        </div>
										        <div class="accordion-inner">
										          <a href="">嵌入式系统开发工程师</a>
										        </div>
										    </div>
										</div>
									</div>
	                                
	                            </div>
	                        </div>
	                    </section>
	                    
	                    <!-- sidebar -->
	                    <aside id="sidebar" class="alignright span9">
	                        <section class="test-block clearfix">
	                       		 <div class="test-block-br">
	                       		 	<div id="test-xzt">
			                            <p>（1）<span name="test-xzt-title" id="test-xzt-title">微机计算机中，控制器的基本功能是:</span></p>
			                            <p><input type="radio" name="option" value="A"/>A <span name="optionA-title" id="optionA-title">实现算术运算和逻辑运算实现算术运算和逻辑运算实现算术运算和逻辑运算实现算术运算和逻辑运算实现算术运算和逻辑运算实现算术运算和逻辑运算实现算术运算和逻辑运算实现算术运算和逻辑运算</span></p>
				                        <p><input type="radio" name="option" value="B"/>B <span name="optionB-title" id="optionB-title">存储各种控制信息 </span></p>                    
				                        <p><input type="radio" name="option" value="C"/>C <span name="optionC-title" id="optionC-title">保持各种控制状态</span></p> 
				                        <p><input type="radio" name="option" value="D"/>D <span name="optionD-title" id="optionD-title">控制机器各个部件协调一致地工作</span></p>
		                            </div>
		                            <div id="test-tkt">
			                            <p>（2）<span name="test-tkt-title" id="test-tkt-title">数学公式类：下列给定的程序中，函数fun()的功能 应用递归算法求某数a的平方根。求平方根的迭代公式为：x1=(x0+a/x0)/2。便如：2的平方根为1.414214。 #include<stdio.h> #include<math.h> 
											____1______fun(double a,double x0) { 
											double x1,y; _____2_____; 
											if(fabs(x1-x0)>=0.00001)  _____3_____; else  y=x1; return y; } 
											main() { 
											double x; 
											printf("Enter x:"); scanf("%lf",&x); 
											printf("The square root of %lf is %lf\n",x,fun(x,1.0)); }</span>
										</p>
										<p>答案1：<input type="text" class="span7" name="answer1" value=""/></p>
										<p>答案2：<input type="text" class="span7" name="answer2" value=""/></p>
										<p>答案3：<input type="text" class="span7" name="answer3" value=""/></p>
		                            </div>
		                            <button type="button" class="btn btn-large" id="test-submit">提交</button>
		                         </div>
	                        </section>
	                    </aside> 
	            	
	            	</div>
	            </div>
	        </div>
	    </div>
	</section>